/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 23, 2025, 1:36:29 PM
    Author     : admin
*/

.Main {
    -fx-background-color: beige;
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 10;
}

.Pane {
    -fx-alignment: center;
}

.Title {
    -fx-fill: lightblue;
    -fx-font-size: 40;
    -fx-stroke: blue;
    -fx-stroke-width: 3;
}